/* Slideshow */
.slideshow-container {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -3;
    overflow: hidden;
}

.slide {
    width: 100%;
    height: 100%;
    animation: slideshow 15s ease infinite;
    background-size: cover;
    background-position: center;
}

@keyframes slideshow {
    0% {
        background-image: url(/wegweiser/img/background1.jpg);
        transform: scale(1.1);
    }
    25% {
        background-image: url(/wegweiser/img/background1.jpg);
        transform: scale(1);
    }
 
    75% {
        background-image: url(/wegweiser/img/background2.jpg);
        transform: scale(1.1);
    }
    100% {
        background-image: url(/wegweiser/img/background2.jpg);
        transform: scale(1);
    }
}

/* SEITEGRID */
.Wegweiser-HTW{
    display: flex;
    justify-content: center;
  }
  .website{
      display: grid;
      width: 90vw;
      height: 100vh;
      grid:
    "header" 10%
    "main" 8%
    "main" 74%
    "footer"8%
    /1fr;
    
}
/* app */
.m-bar{
    grid-area: b-main;
}
.main{
    grid-area: main;
    overflow:hidden
}
.Wegweiser-HTW {
    background-position: center;
    background-size: cover;  
    ;
}

.inhalt {
    overflow:hidden;
    display: flex;
    flex-direction: column;
    margin-left: var(--x-left-right);
    height: 100%;
    width: 60%;
    justify-content: center;
    gap: 20px;
    color: var(--sec-color);
    padding: 3px;
    opacity: 0; 
    transform: translateX(-100%); 
    animation: slideInFromLeft 1s ease-in-out forwards; 
}


@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.inhalt p,
.inhalt h2 {
    font-size: larger;
}
.inhalt a {
    text-decoration: none;
    color: var(--sec-color);
    background-color: var(--d-blue);
    width: fit-content;
    padding: 7.5px;
    border-radius: 25px;
    font-size: medium;
    
}
.inhalt h2 {
    font-size: 40px;
}
.inhalt a:hover {
    background-color: var(--h-blue);
    transition: 0.8s;
    background-position: right top;
    background-image: var(--btn-anim);
    background-size: 280% auto;
}

@media (max-width: 500px) {
    .inhalt {
        width: 90%;
        margin-left: 10px;
    }
    .inhalt h2 {
        font-size: x-large;
 
    }
    .inhalt p {
        font-size: 14px;
    }
}

/* Inhalt-end */
